*       text=auto
*.vim   text eol=lf
*.asm   text eol=lf linguist-vendored=false
*.8080  text eol=lf linguist-vendored=false linguist-language=Assembly
*.md    text eol=lf linguist-vendored=false

*.png   binary

INSTALL     text eol=lf
LICENSE     text eol=lf

.gitattributes  text eol=lf
.gitignore      text eol=lf
