*       text=auto
*.vim   text eol=lf
*.asm   text eol=lf
*.8080  text eol=lf linguist-language=Assembly
*.md    text eol=lf

*.png   binary

ChangeLog   text eol=lf
INSTALL     text eol=lf
LICENSE     text eol=lf

.gitattributes  text eol=lf
.gitignore      text eol=lf
